@import '../../styles/utils/var';

.oc-galery {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: $padding-main;

    &__wrap{
        width: fit-content;
        margin: 0 auto;
    }

    &__title {
        padding-bottom: 1.125em;
        width: fit-content;
    }

    &__card-container {
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%,200px), 256px)); /* Una columna ajustable */
        grid-template-rows: repeat(7, auto);
        gap: $gap-grid-base;
        justify-content: center;
        align-items: center;

        
    }
 
    @media screen and (min-width: $bp-tablet) {
        &__card-container {
            grid-template-columns: repeat(4, minmax(min(100%,100px), 256px));
            grid-template-rows: repeat(2, auto);
        } /* Una columna ajustable */
    }

    &__card{
        color: $-white;
        text-decoration: none;
        background-color: $-dark-Gray;
        width: 100%;
        display: flex;

        & picture {

            & img, source {
                height: 100%;
                object-position: center;
                object-fit: contain;
                width: 100%;
            }


        }
        
        
        & h3 {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            text-align: start;
            padding: 0 0 26px 26px;
        }
    }
}





// Querys
