@import '../../../styles/utils/_var.scss';
@import '../../../styles/utils/_mixins.scss';

Header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 0 20px;
    color: $-white;
    position: absolute;
    top: 0;
    height: $nav-height;
    width: 100%;
    z-index: 10;

    .logo {
        font-size: $font-size-logo;
        font-weight: bold;
    }

    nav {
        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-left: 15px;

                a {
                    text-decoration: none;
                    color: $-offWhite;
                    font-size: 14px;
                    @include hover-effect($-white,80%);
                }
            }
        }

        button {
            background-color: transparent;
            border: none;
        }

        &.open ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%; 
            right: 20px;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 20px;
            border-radius: 10px;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: row;

        .logo {
            margin-bottom: 10px;
        }

        nav ul {
            /*flex-direction: space-between;*/
            align-items: center;
            background-color: transparent;
            display: none;
            white-space: nowrap;

            li {
                margin: 5px 10px;
            }
        }

        nav.open ul {
            display: flex; // Muestra el menú cuando está abierto
            height: 100%;
        }

        button {
            display: block;
            background-color: transparent;
            border: none;
        }
    }
}

@media (min-width: 767px) and (max-width: 1440px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        .logo {
            font-size: 32px;
            margin-bottom: 0;
        }

        nav {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;
                gap: 30px;
                position: static;
                background: none;
                padding: 0;
                width: auto;
            }

            button {
                display: none;
            }
        }
    }
}