@font-face {
    font-family: 'Alata-Regular';
    src: url(../../../public/assets/fonts/Alata/Alata-Regular.woff) format('woff'),
         url(../../../public/assets/fonts/Alata/Alata-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'JosefinSans-VariableFont_wght';
    src: url(../../../public/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.woff) format('woff'),
         url(../../../public/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.woff2) format('woff2');
  }
  