@import './fonts';

// colors
$primary-color: #000; // Color Primario
$secondary-color: #fff; // Color Secundario

$-white: #fff;
$-black: #000;
$-offWhite: hsl(0, 0%, 90%);
$-grey: hsl(0, 0%, 86%);
$-dark-Gray: hsl(0, 0%, 55%);
$-very-Dark-Gray: hsl(0, 0%, 41%);

// Font Size
$font-size-logo: 1.75em;
$font-size-base: .9375em; // Parrafos y texto base
$font-size-base-mobile: 1.125em;
$font-size-small: 0.875rem; // Texto Pequeno
$font-size-headlines: 3.5rem; // Titulo Principal
$font-size-sub-headlines: 1.75rem; // Subtitulo
$font-size-headlines-XL: 4.375rem; // Fuente Display

// Gap
$gap-base: .3125rem;

// Letter Spacing
$letter-spacing-title: .0813rem;
$letter-spacing-base: .0813rem;

// Line Height
$line-height-base: 1.3;


// Fonts Family
$font-family-base: 'Alata-Regular', sans-serif;
$font-family-headings: 'JosefinSans-VariableFont_wght', sans-serif;


// Fonts Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;


// Breakpoints
$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop: 1440px;


// Metrics
$nav-height: 60px;