@import '../utils/var';

html{
    font-family:$font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    
}

#loopStudiosAPP {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    font-family:$font-family-headings;
    text-transform: uppercase;
}

h1,h2{
    font-size: $font-size-headlines;
    font-weight: $font-weight-light;
}

h3 {
    font-size: $font-size-sub-headlines;
    font-weight: $font-weight-thin;
}


p {
    color: $-dark-Gray;
}